/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.banner {
  background-image:url("Images/bakemock.jpg") no-repeat center;
  background-size:100% 100%;
  height:400px;
  }
.container {
  width: 500px;
  margin: auto;
  display: block;
}

h1 {
  text-align: center;
}
.banner p {
  color: white;
  text-align: center;
  text-shadow:4px 4px 8px gray;
}
.btn-learn{
  display: inline-block;
  background-color: red;
  padding: 12px 36px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  transition: 1s;
  margin: 0px;
  margin-left: 20px;
  margin-top: 200px;
}
.btn-learn:hover {
  background-color: white;
  color: red;
}
.text-below-banner {
  text-align: center;
  color: rgb(17, 43, 148);
}
.cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.card img {
  width: 150px;
}
.card{
  text-align: center;
  margin-bottom: 15px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  display: block;
}

.card p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer {
  text-align: center;
  padding: 60px;
  background-color: rgb(101, 81, 188);
  color:rgb(244, 247, 247);
  font-size: 36px;
  }
.fa-brands:hover {
  background-color: white;
  color: rgb(101, 81, 188);
}
